*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
main section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
img{
  width: 30%;
  height: auto;
  border: 1px solid #000;
  border-radius: 5px;
}
.container{
  display: flex;
  justify-content: center;
  margin: 2%
}
.container.input{
  width: 25%;
  justify-content: space-around;
}
input{
  padding: 10px;
  padding-right: 30px;
  border-radius: 5px;
  border-color: #000;
}
.btn{
  background: none repeat scroll 0 0 #5a88ca;
  background-color: rgb(90, 136, 202);
  border: medium none;
  color: #fff;
  padding: 11px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}
.btn:hover{
  cursor: pointer;
  background-color: #222;

}
.container.todolist-box{
  background-color: lightgray;
  justify-content: space-around;
}
ul{
  list-style-type: none;
}
ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  font-size: 15px;
  padding: 2%;
  border-bottom: 2px solid black;
  border-radius: 5px 5px 0 0;
}
.left input{
  margin-right: 10px;
}
ul li:hover{
  cursor: pointer;
  background-color: rgb(220,220,220,0.2);
}
.linecomplete{
background-color: rgb(144,238,144, 0.6);
}
.complete{
  text-decoration: line-through;
}
span{
  font-size: 25px;
}
span i{
  color: red;
}
