<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main id="app">
      <section>
        <div class="container">
          <img src="https://cdn.pixabay.com/photo/2016/06/20/22/24/robot-1470108_960_720.png" alt="">
        </div>
      </section>

      <!-- inserimento nella ToDoList -->
      <section>
        <div class="container input">
          <input v-model="input" type="text" name="" value="" @keyup.enter="addToDo" placeholder="Inserisci cosa da fare">
          <button class="btn" @click="addToDo" class="btn" type="button" name="button">Inserisci</button>
        </div>
      </section>

      <!-- ToDoList -->
      <section>
        <div class="container todoList-box">
          <ul>
            <li v-for="(item,i) in toDoList" >
              <span @click="selectItem" :class='strike'> {{item.name}} </span>
              <span><i @click='removeToDo(item)' class="fas fa-trash-alt"></i></span>
            </li>
          </ul>
        </div>
      </section>
    </main>


    <script type="text/javascript" src="js/script.js">

    </script>
  </body>
</html>
